<h1># AI-chatbot-experience</h1>
<p>
entre un nom d'experience ou evenement avec l'IA<input/>
</p>
<p>entre un groupe de touristes<textarea></textarea></p>
<p>
entre des questions à se poser<textarea></textarea>
</p>
<p>entre des activités collaboratives<textarea></textarea></p>
<p>entre si tu veux utiliser reconnaissance vocale ou synthèse vocale<textarea></textarea></p>
<p>quel parcours guidés (sans IA), où tu choisis ce que tu veux voir ou apprendre, créant un sentiment d’exploration personnalisée vas tu choisir?</p>
<p>
<label>musee d'art<input type="radio"/></label>
<label>musee de sciences<input type="radio"/></label>
</p>
<div id="map"> le plan de la ville ou musée ici , quels indices peux tu ajouter pour faire des jeux de piste ou chasses au trésor Des parcours balisés avec des indices, QR codes, ou énigmes  </div>

